<planty>
  <planty_settings>
    <motor_duration>
      40000
    </motor_duration>
    <motor_power>
      100
    </motor_power>
    <moisture_samples>
      10
    </moisture_samples>
    <moisture_threshold>
      400
    </moisture_threshold>
    <light_setpoint>
      20000
    </light_setpoint>
    <max_light>
      50000
    </max_light>
  </planty_settings>
  <camera_settings>
    <picture_directory>/media/pi/USB</picture_directory>
    <picture_copy_directory>/var/www/html/Images</picture_copy_directory>
    <lower_green_filter l1="30" l2="50" l3="50"> </lower_green_filter>
    <upper_green_filter u1="80" u2="250" u3="250"> </upper_green_filter> 
  </camera_settings>
</planty> 
